{% extends "www.html" %}

{% block content %}

<div id="portrait">
    <img src="about.jpg" alt="Brian House" /><br />
    <a href="http://twitter.com/h0use" target="_blank">TWITTER</a><br />
    <a href="http://instagram.com/h0use" target="_blank">INSTAGRAM</a><br />
    <a href="http://soundcloud.com/brianhouse" target="_blank">SOUNDCLOUD</a><br />
    <a href="http://github.com/brianhouse" target="_blank">GITHUB</a><br />
    <br />
    <a href="/cv">CV</a>
</div>

<!-- twitter, soundcloud, github, instagram -->

<div id="about" class="text">
    {{ text }}
</div>

{% endblock content %}
