<!doctype html> 
<html prefix="og: http://ogp.me/ns#" lang="en"> 
<head>
    {% block title %}<title>Brian House{% if title %} | {{ title }}{% elif page and page != 'www' %} | {{ page | title }}{% endif %}</title>{% endblock title %}
    <meta charset="utf-8"/>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Brian House" /> 
    <meta name="copyright" content="Brian House" /> 
    <meta name="description" content="{% if text %}{{ text | strip_html | strip_quotes | replace('\n', ' ') | strslice(157) }}...{% else %}Brian House is an artist whose work explores the interdependent rhythms of the body, technology, and the environment.{% endif %}" />
    <meta property="og:title" content="Brian House{% if title %} | {{ title }}{% elif page and page != 'www' %} | {{ page | title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://brianhouse.net{% if title %}/works/{{ page }}/{{ page }}{% else %}/about/about{% endif %}.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@h0use" />
    <meta name="twitter:creator" content="@h0use" />
    <meta name="twitter:title" content="Brian House{% if title %} | {{ title }}{% elif page and page != 'www' %} | {{ page | title }}{% endif %}" />
    <meta name="twitter:description" content="{% if text %}{{ text | strip_html | strip_quotes | replace('\n', ' ') | strslice(157) }}...{% else %}Brian House is an artist whose work explores the interdependent rhythms of the body, technology, and the environment.{% endif %}" />
    <meta name="twitter:image" content="https://brianhouse.net{% if title %}/works/{{ page }}/{{ page }}{% else %}/about/about{% endif %}.jpg" />    
    <link rel="icon" href="{{ absolute }}/favicon.png" /> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CVollkorn:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ absolute }}/style.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9067283-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-9067283-5');
    </script>       
{% block head %}
{% endblock head %}     
</head>
<body>
<div id="content">

{% block menu %}
<div id="header">
    <div id="name"><a href="{{ absolute }}/" alt="Works">Brian House</a></div>
    <div id="menu">
        <a href="{{ absolute }}/" alt="Works">Works</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://blog.brianhouse.net/" alt="News">News</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ absolute }}/about/" alt="About">About</a>
    </div>
</div>
<div class="clear"></div>
{% endblock menu %}

{% block content %}
<a href="/works" alt="Works"><img src="www.jpg" alt="Brian House" /></a>
{% endblock content %}

</div>
</body>
</html>